@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  white-space: pre-line;
}

/* https://stackoverflow.com/a/65211073/2419584 */
* {
  -webkit-tap-highlight-color: rgba(235, 0, 0, 0.04);
}

.comment-text {
  overflow-wrap: break-word;
}

.comment-text p {
  padding-bottom: 0.3rem;
  padding-right: 0.5rem;
}
